#FOR WINDOWS
*.iml
.gradle
\local.properties
\.idea
\build
\captures
.DS_Store
.externalNativeBuild

#FOR MAC AND LINUX
*.iml
.gradle
/local.properties
/.idea
/build
/captures
.DS_Store
.externalNativeBuild